<section id="banner" style='background-image: url("{{ asset('img/banner.jpg') }}")'>
    <div class="wrapper">
        <div>
            <h1>Prêt à faire du tri dans vos placards?</h1>
            <a>Vends Maintenant</a>
            <a>Découvrir comment ça marche</a>
        </div>
    </div>
</section>