<section id="news" >
    <div class="wrapper" style='background-image: url("{{ asset('img/general-desktop-wide.jpg') }}")'>
        <div>
            <h1>Nouveau</h1>
            <h2>Vends tes appareils électroniques sans frais</h2>
        </div>
                    <a>Commencer à vendre</a>
    </div>
</section>